.homeUsers{

    display: flex;
    width: 100%;
}

.containerUsers{

    flex: 6;

}

.inputForm{

    border-radius: 25px !important;
}

@media(min-width: 1000px){

    .boxModalUser{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 500px;
        background-color: whitesmoke;
        border: 2px solid transparent;
        box-Shadow: 24;
        padding: 4px;
        border-radius: 25px;
    }
}


@media(max-width: 990px){

    .boxModalUser{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 500px;
        background-color: whitesmoke;
        border: 2px solid transparent;
        box-Shadow: 24;
        padding: 4px;
        border-radius: 25px;
    }
}
@media(max-width: 767px){

    .boxModalUser{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 315px;
        height: 500px;
        background-color: whitesmoke;
        border: 2px solid transparent;
        box-Shadow: 24;
        padding: 4px;
        border-radius: 25px;
    }

   
}

.userRow{

    text-align: center;
    padding: 10px;
}